In [1]:
import pandas as pd

In [3]:
from io import StringIO

# Create sample data as a CSV string

In [5]:
employee_data = StringIO("""
EmployeeID,Name,Department,Salary
1,John Doe,IT,60000
2,Jane Smith,HR,55000
3,Tom Brown,IT,
4,Lucy White,Finance,70000
5,,HR,50000
6,Emily Davis,Finance,
""")

# Load data into DataFrame

In [7]:
df_employee = pd.read_csv(employee_data)

# Display original DataFrame

In [9]:
print("Original Employee DataFrame:")
print(df_employee)

Original Employee DataFrame:
   EmployeeID         Name Department   Salary
0           1     John Doe         IT  60000.0
1           2   Jane Smith         HR  55000.0
2           3    Tom Brown         IT      NaN
3           4   Lucy White    Finance  70000.0
4           5          NaN         HR  50000.0
5           6  Emily Davis    Finance      NaN

In [12]:
# Clean data

In [14]:
df_employee['Name'].fillna('Unknown', inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_12356\747549054.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_employee['Name'].fillna('Unknown', inplace=True)

In [16]:
df_employee['Salary'].fillna(df_employee['Salary'].mean(), inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_12356\1367201714.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_employee['Salary'].fillna(df_employee['Salary'].mean(), inplace=True)