In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import datetime

In [3]:
# Load dataset
# Replace with actual dataset or synthetic generation
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-min-temperatures.csv"  # Example dataset
data = pd.read_csv(url, parse_dates=['Date'], index_col='Date')

In [11]:
# Simulating relevant features for a beverage wholesale dataset
data.rename(columns={"Temp": "Sales_Volume"}, inplace=True)
data['Price'] = np.random.uniform(1.5, 3.5, size=len(data))  # Example prices
data['Promotions'] = np.random.choice([0, 1], size=len(data))
data['Holiday'] = np.where(data.index.dayofweek >= 5, 1, 0)  # Weekend as holiday
data['Region'] = np.random.choice(['North', 'South', 'International'], size=len(data))

# Feature engineering: Adding temporal features
data['Year'] = data.index.year
data['Month'] = data.index.month
data['Day'] = data.index.day

In [14]:
data.head()

,Sales_Volume,Price,Promotions,Holiday,Region,Year,Month,Day
Date,,,,,,,,
1981-01-01,20.7,1.578404,0,0,North,1981,1,1
1981-01-02,17.9,2.772377,1,0,North,1981,1,2
1981-01-03,18.8,1.939764,0,1,South,1981,1,3
1981-01-04,14.6,2.507106,1,1,North,1981,1,4
1981-01-05,15.8,2.401059,0,0,North,1981,1,5

In [23]:
# Saving the DataFrame to a CSV file
output_file = "beverage_sales_data.csv"  # Specify the file name
data.to_csv(output_file, index=True)  # `index=True` will include the index in the file
print(f"DataFrame saved to {output_file}")

DataFrame saved to beverage_sales_data.csv